@model WeatherApp_cc.Models.SignUpModel
@{
    ViewData["Title"] = "Sign Up";
}
@if (ViewData["Message"] != null)
{
    <div class="form-row">
        <div class="text-danger">@ViewData["Message"].ToString()</div><br><br>
    </div>
}
<div class="text-center top-buffer">
    <h1>Welcome to the weather app</h1>
    <p>when initially signing up please consider the following formatting options</p>
    <p><b>City</b> : please enter full city name</p>
    <p><b>State</b> : please enter full state name</p>
</div>

@using (Html.BeginForm("PostUserInfo", "Home", FormMethod.Post))
{
    <form>
        <div class="form-row top-buffer">
            <div class="col-md-4 mb-3">
                @Html.LabelFor(m => m.FirstName)
                <div class="input-group">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name" , required = "required" })
                </div>
                @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "text-danger" })
            </div>

            <div class="col-md-4 mb-3">
                @Html.LabelFor(m => m.LastName)
                <div class="input-group">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" , required = "required" })
                </div>
                @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "text-danger" })
            </div>

            <div class="col-md-4 mb-3">
                @Html.LabelFor(m => m.UserName)
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend2"></span>
                    </div>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "UserName", required = "required" })
                </div>
                @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-3">
                @Html.LabelFor(m => m.City)
                <div class="input-group">
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", @placeholder = "City" , required = "required" })
                </div>
                @Html.ValidationMessageFor(m => m.City, null, new { @class = "text-danger" })
            </div>

            <div class="col-md-3 mb-3">
                @Html.LabelFor(m => m.State)
                <div class="input-group">
                    @Html.TextBoxFor(m => m.State, new { @class = "form-control", @placeholder = "State" })
                    @Html.ValidationMessageFor(m => m.State, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-3 mb-3">
                @Html.LabelFor(m => m.Zip)
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Zip, new { @class = "form-control", @placeholder = "Zip" })
                </div>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
}
