@model WeatherApp_cc.Models.Rootobject

@{
    ViewData["Title"] = "Weather";
}

@if (ViewData["Login"] != null)
{
    <div class="form-row">
        <div class="text-success"> Welcome @ViewData["UserName"].ToString()</div><br><br>
    </div>
}

<div id="main-popup">
    <div id="pop-up">
        <h3> Would you like to get the weather for your current location?</h3>
        <p id="suppt"></p>
        <div class="text-center">
            <button class="btn btn-primary" type="submit" id="yesBtn">Yes</button>
            <button class="btn btn-primary" type="submit" id="noBtn">No</button>
        </div>
    </div>
</div>

<div class="container">

    <div class="text-center">
        <p>Welcome to the weather app to use this app correctly please observe the following instructions below</p>
        <p><b>City</b> : please enter full city name</p>
        <p><b>State</b> : please enter full state name</p>
    </div>

    <div class="top-buffer">
        @using (Html.BeginForm("GetWeather", "Home", FormMethod.Get, new { id = "weatherForm" }))
        {
            <form>
                <div class="form-row"  id="inBox">
                    <div class="col-md-5 mb-3">
                        @Html.LabelFor(m => m.weather[0].City)
                        @Html.TextBoxFor(m => m.weather[0].City, new { @class = "form-control", id = "City", placeholder = "City", required = "required" })
                        @Html.ValidationMessageFor(m => m.weather[0].City)
                    </div>
                    <div class="col-md-5 mb-3">
                        @Html.LabelFor(m => m.weather[0].State)
                        @Html.TextBoxFor(m => m.weather[0].State, new { @class = "form-control", id = "State", placeholder = "State" })
                        @Html.ValidationMessageFor(m => m.weather[0].State)
                    </div>
                    
                    <div class="col-md-2 mb-3 align-self-end">
                        <button class="btn btn-md btn-success" id="addBtn" type="button">+ Add New Location</button>
                    </div>
                </div>
                @Html.HiddenFor(m => m.userName, new { id = "userName", Value = @ViewData["UserName"].ToString() })
            </form>
        }
    </div>
    @{
        var data = (Rootobject)ViewData["WeatherAtt"];
    }
    <div class="top-buffer">
        @if (Model.weatherInfo != null)
        {
            <table class="table align-middle table-bordered">
                <thead>
                    <tr>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col">Temp</th>
                        <th scope="col">Weather Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="weatherBody">
                    @foreach (var items in Model.weatherInfo)
                    {
                        <tr>
                            <td>@items.City</td>
                            <td>@items.State</td>
                            <td>@items.Temperature.ToString("00\u00B0F")</td>
                            <td>@items.WeatherDescription</td>
                            <td>
                                <span class="table-remove">
                                    <button id="dltBtn" class="btn btn-danger btn-rounded btn-sm my-0y" type="button" data-id="@items.id'_'@items.Longitude'_'@items.Latitude">Delete</button>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <table class="table align-middle table-bordered">
                <thead>
                    <tr>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col">Temp</th>
                        <th scope="col">Weather Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="weatherBody">
                </tbody>
            </table>
            <script src="~/js/popup.js"></script>
        }
    </div>
</div>

<script src="~/js/weather.js"></script>