@model WeatherApp_cc.Models.Rootobject
@{
    ViewData["Title"] = "Weather";
}

@*@if (ViewData["Success"] != null)
{
<div>ViewData["Success"]</div>
}
else
{
<div>ViewData["Success"]</div>
}*@

@using (Html.BeginForm("GetWeather", "Home", FormMethod.Get))
{
    <form>
        <div class="top-buffer">
            <button class="btn btn-primary" type="submit">Add</button>
            <button class="btn btn-secondary" type="submit">Delete</button>
            <button class="btn btn-secondary" type="submit" formmethod="get">Test Api </button>
        </div>
        <div class="top-buffer">
            <div class="text-center">
                <p id="instruction">To look up the weather in a specific City or State please entire in the information below</p>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    @Html.LabelFor(m => m.weather[0].City)
                    @Html.TextBoxFor(m => m.weather[0].City, new { @class = "form-control", @placeholder = "City" })
                    @Html.ValidationMessageFor(m => m.weather[0].City)
                </div>
                <div class="col-md-6 mb-3">
                    @Html.LabelFor(m => m.weather[0].State)
                    @Html.TextBoxFor(m => m.weather[0].State, new { @class = "form-control", @placeholder = "State" })
                </div>
            </div>
        </div>
    </form>
}
@{
    var data = (Rootobject)ViewData["WeatherAtt"];
}

<div class="top-buffer">
    <table class="table align-middle">
        <thead>
            <tr>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Temp</th>
                <th scope="col">Weather Description</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (data != null)
                {
                    <tr>
                        <td>@data.name</td>
                        <td>@data.weather[0].State</td>
                        <td>@data.main.temp.ToString("00.000")</td>
                        <td>@data.weather[0].description</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

