@model WeatherApp_cc.Models.Rootobject

@{
    ViewData["Title"] = "Weather";
}

@if (ViewData["Login"] != null)
{
    <div class="form-row">
        <div class="text-success"> Welcome @ViewData["UserName"].ToString()</div><br><br>
    </div>
}
<div id="main">
    <div id="pop-up">
        <h3> Would you like to get the weather for your current location?</h3>
        <div class="text-center">
            <button class="btn btn-primary" type="submit" id="yesBtn">Yes</button>
            <button class="btn btn-primary" type="submit" id="noBtn">No</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center">
        <h1> Insert Some Header Text ¯\_(ツ)_/¯</h1>
    </div>
    <div class="top-buffer">
        @using (Html.BeginForm("GetWeather", "Home", FormMethod.Get, new { id = "weatherForm" }))
        {
            <form>
                <div class="form-row">
                    <div class="col-md-5 mb-3">
                        @Html.LabelFor(m => m.weather[0].City)
                        @Html.TextBoxFor(m => m.weather[0].City, new { @class = "form-control", id = "City", placeholder = "City", required = "required" })
                        @Html.ValidationMessageFor(m => m.weather[0].City)
                    </div>
                    <div class="col-md-5 mb-3">
                        @Html.LabelFor(m => m.weather[0].State)
                        @Html.TextBoxFor(m => m.weather[0].State, new { @class = "form-control", id = "State", placeholder = "State" })
                    </div>
                    <div class="col-md-2 mb-3 btn-group-vertical">
                        <button class="btn btn-md btn-success" id="addBtn" type="button">+ Add New Location</button>
                    </div>
                </div>
                @Html.HiddenFor(m => m.userName, new { id = "userName", Value = @ViewData["UserName"].ToString() })
            </form>
        }
    </div>
    @{
        var data = (Rootobject)ViewData["WeatherAtt"];
    }
    <div class="top-buffer">
        <table class="table align-middle table-bordered">
            <thead>
                <tr>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Temp</th>
                    <th scope="col">Weather Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody id="weatherBody">
                @if (Model.weatherInfo != null)
                {
                    foreach (var items in Model.weatherInfo)
                    {
                        <tr>
                            <td>@items.City</td>
                            <td>@items.State</td>
                            <td>@items.Temperature.ToString("00\u00B0F")</td>
                            <td>@items.Description</td>
                            <td>
                                <span class="table-remove">
                                    <button id="dltBtn" class="btn btn-danger btn-rounded btn-sm my-0y" type="button" data-id="@items.id'_'@items.Longitude'_'@items.Latitude">Delete</button>
                                </span>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#addBtn").click(function () {
            var model = $("#weatherForm").serialize()
            $.ajax({
                url: '/Home/GetWeather',
                type: 'GET',
                cache: false,
                data: model,
                success: function (model) {
                    if (model != null) {
                        var row = "";
                        var name = model.name;
                        var state = model.weather[0].state;
                        var temp = model.main.temp;
                        var description = model.weather[0].description;
                        var id = model.user_id;
                        var lon = model.coord.lon;
                        var lat = model.coord.lat;
                    }
                    row += "<tr><td>" + name + "</td><td>" + state + "</td><td>" + temp + "\xB0F" + "</td><td>" + description + "</td><td> <span class='table-remove'> <button id='dltBtn' class='btn btn-danger btn-rounded btn-sm my-0y' type='button' data-id=" + id + "'_'" + lon + "'_'" + lat + ">Delete</button></span></td></tr>"
                    $('#weatherBody').append(row)
                }
            })
        })

        $("#weatherBody").on('click', '#dltBtn', function () {
            var id = $(this).closest('tr');
            $.ajax({
                url: '/Home/DeleteWeatherInfo',
                type: "POST",
                cache: false,
                data: { id: $(this).data("id") },
                success: function (msg) {
                    $(id).remove();
                }
            })

        });

        var stopAutoHide;
        function showWindow() {
            $('#main').show();
            stopAutoHide = setTimeout(hideWindow, 5000);
        }

        function hideWindow() {
            $('#main').hide();
        }
        setTimeout(showWindow, 2000);

        $("#noBtn").click(function () {
            hideWindow();
            clearTimeout(stopAutoHide)
        })
    });

</script>
